*, html, body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 62.5%;
}

.App {
    width: 100vw;
    height: 100vh;

    &__header {
        height: 6vh;
        width: 100%;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-end;
        background-color: #333;
        grid-gap: 2vw;

        button {
            width: 10vw;
            height: 100%;
            outline: none;
            font-family: "Fira Sans", sans-serif;
            font-size: 1.3rem;
            border-radius: 0.5rem;
            background-color: #626060;
            text-align: center;
            display: inline-block;
            vertical-align: middle;
            font-weight: bold;
            color: #eee;

            &:hover {
                background-color:  #6c76c4;
                color: black;
            }
            &.active {
                background-color: #1583f5;
            }
        }
    }

    #controls {
        display: flex;
        width: 100%;
        height: 44vh;
        flex-flow: row wrap;

        #category-chart, #event-chart {
            width: 50%;
            height: 100%;
            box-shadow: -1rem 0.2rem 1rem #ccc;
        }

        svg {
            .dc-legend-item {
                text {
                    font-size: 1rem;
                    font-weight: bold;
                }
            }
            text {
                font-size: 1.2rem;
                font-weight: bold;
                fill: black;
            }
            g.axis text {
                font-size: 0.9rem;
                font-weight: bold;
            }
        }
        #child-view {
            margin-top: 1rem;
            display: flex;
            width: 95%;
            height: 48vh;
            justify-content: center;
            flex-wrap: wrap;
            h3 {
                font-size: 1.5rem;
                width: 90vw;
                text-transform: capitalize;
            }
            svg {

            box-shadow: -1rem 0.2rem 1rem #ccc, 1rem -0.2rem 1rem #ccc;
            }
        }
    }
}
